body{
  background-color: rgb(32, 32, 32);
  color: white;
}
nav> ul > li{
  list-style: none;
}
.navimg{
  width: 3rem;
}
.cont{
  display: flex;
  flex-direction: row;
}
.cont li{
  width: 400px;
  height: 200px;
  background-color: hotpink;
  margin: 10px;
}
